.payment .StripeCheckout {
    color: #21b939 !important;
    background-color: white !important;
    border: solid 1px #21b939 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
    margin-top: 14px;
    cursor: pointer;
    text-decoration: none;
    width: 650px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 130px;
    margin-bottom: 15px;
    background-image: none !important;
}

.payment .StripeCheckout span {
    background-image: none !important;
    font-family: var(--font) !important;
    color: #21b939 !important;
    background-color: white !important;
    font-size: 20px !important;
    padding: 0 !important;
}

.payment .overlayView .brandingLogoView {
    display: none !important;
}