.package {
    padding-top: 160px;
}

.package .containere {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.package h1:nth-child(1) {
    padding-bottom: 30px;
    color: var(--colorr);
    font-weight: 900;
}

/* c1 styling start*/
.c0 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
}

.c0 a {
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(134, 131, 131, 0.527);
    text-decoration: none;
    color: unset;
    margin: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
}

.c0 a:hover {
    box-shadow: 5px 2px 20px rgb(209, 206, 206);
}

.c0 a img {
    width: 100%;
}

.c0 a h2 {
    color: grey;
    font-size: 16px;
    padding: 10px 10px;
    font-weight: bold;
    margin: 0px;
}

.c0 a h1 {
    color: black;
    margin: 0px;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
}

.c0 a h3 {
    margin: 0px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(59, 58, 58);
}

.c0 a div {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0px;
}

.c0 a div i {
    color: #f6cf00;
}

.c0 a div h5 {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 0 9px;
}

.c0 a div span {
    color: black;
    font-size: 15px;
    color: gray;
}

.c0 a .price {
    color: orangered;
    margin: 0px;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
    .c0 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .c0 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .c0 a h2 {
        font-size: 14px;
    }

    .c0 a h1 {
        font-size: 14px;
    }

    .c0 a h3 {
        font-size: 12px;
    }

    .c0 a div h5 {
        font-size: 13px;
    }

    .c0 a div span {
        font-size: 12px;
    }

    .c0 a .price {
        font-size: 14px;
    }
}