.tours {
    padding-top: 160px;
    position: relative;
}

.tours .containere {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tours .heading {
    padding-bottom: 30px;
    color: var(--colorr);
    font-weight: 900;
}

.tours .buttons {
    padding-bottom: 30px;
}

.tours .active {
    color: white;
    background-color: black;
    border: 2px solid black;
    box-shadow: 5px 2px 20px black;
}

.tours button {
    color: var(--colorr);
    background: white;
    border: 2px solid var(--colorr);
    padding: 12px;
    width: 200px;
    font-size: 19px;
    text-transform: capitalize;
    margin: 0 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: 700;
}

.tours button:hover {
    color: white;
    background-color: var(--colorr);
    border: 2px solid var(--colorr);
    box-shadow: 5px 2px 20px black;
}

.c2,
.c3,
.c4 {
    display: none;
}

@media screen and (max-width: 1200px) {
    .tours button {
        width: 168px
    }
}

@media screen and (max-width: 800px) {
    .tours button {
        width: 100px;
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .tours button {
        width: 75px;
        font-size: 11px;
        margin: 0 3px;
    }
}