/*  c4 styling start*/
.c4 {
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
}

.c4 a {
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(134, 131, 131, 0.527);
    text-decoration: none;
    color: unset;
    margin: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.c4 a:hover {
    box-shadow: 5px 2px 20px rgb(209, 206, 206);
}

.c4 a img {
    width: 100%;
}

.c4 a h2 {
    color: grey;
    font-size: 16px;
    padding: 10px 10px;
    font-weight: bold;
    margin: 0px;
}

.c4 a h1 {
    color: black;
    margin: 0px;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
}

.c4 a h3 {
    margin: 0px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(59, 58, 58);
}

.c4 a div {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0px;
}

.c4 a div i {
    color: #f6cf00;
}

.c4 a div h5 {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 0 9px;
}

.c4 a div span {
    color: black;
    font-size: 15px;
    color: gray;
}

.c4 a .price {
    color: orangered;
    margin: 0px;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
    .c4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .c4 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .c4 a h2 {
        font-size: 14px;
    }

    .c4 a h1 {
        font-size: 14px;
    }

    .c4 a h3 {
        font-size: 12px;
    }

    .c4 a div h5 {
        font-size: 13px;
    }

    .c4 a div span {
        font-size: 12px;
    }

    .c4 a .price {
        font-size: 14px;
    }
}