.carousel img {
    width: 100%;
    height: 720px;
    object-fit: cover;
    filter: contrast(70%);
    -webkit-filter: contrast(70%);
}

.carousel h1 {
    font-weight: bold;
}

@media screen and (max-width :730px) {
    .carousel img {
        height: 500px;
    }
}

@media screen and (max-width :500px) {
    .carousel h1 {
        font-size: 20px;
    }

    .carousel p {
        font-size: 15px;
    }
}

.carousel .carousel-indicators {
    z-index: 1;
}