:root {
    --color: #ff6334;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
}

header .containere {
    display: flex;
    flex-direction: column;
}

/* nav style */
header .containere nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

header .containere nav .logo img {
    width: 200px;
    transform: translate(-3px);
}

/* open and close menu icons */
header .containere nav .map i {
    cursor: pointer;
    color: white;
    font-size: 35px;
    display: none;
}

header .containere nav .map #open {
    display: block;
}

header .containere nav .links a:hover,
header .containere nav .map a:hover {
    opacity: 1;
}

/* media queries start */
@media screen and (max-width: 1300px) {
    header .containere nav .logo img {
        width: 180px;
    }
}

@media screen and (max-width: 1100px) {
    header .containere nav {
        padding-top: 10px;
    }
}

@media screen and (min-width: 1101px) {

}

@media screen and (max-width: 500px) {
    header .containere nav .logo img {
        width: 160px;
    }

    header .containere nav .map #open {
        font-size: 30px;
    }
}