.contact {
    padding-top: 160px;
    padding-bottom: 50px;
}

.contact .containere .k0 {
    padding-bottom: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.containere .all {
    display: flex;
    justify-content: center;
}

.all .first {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border: 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.all .first h2 {
    color: #1c1e25;
    font-weight: bold;
    padding: 15px 0;
}

.all .first input,
textarea {
    border: none;
    border-bottom: 1px solid #1c1e25;
    width: 400px;
    margin: 15px 0;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    color: #1c1e25;
}

::placeholder {
    color: #1c1e25;
}

.contact .containere .all .first textarea {
    font-size: 20px;
    margin-top: 20px;
    resize: none;
}

.all .first .submit {
    background: white;
    color: black;
    border: solid 1px;
    margin-top: 32px;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    text-transform: capitalize;
    border: 1px solid #1c1e25;
}

.all .first,
.all .second {
    width: 480px;
}

.all .second {
    display: flex;
    flex-direction: column;
    background-color: #1c1e25;
    padding: 20px 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.all .second h2 {
    color: white;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 52px;
}

.all .second .o1,
.o2,
.o3,
.o4,
.o5 {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.all .second .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.068);
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

.all .second .o1 .icon {
    font-size: 40px;
    width: 98px;
}

.all .second .o2 .icon {
    font-size: 36px;
}

.all .second .o3 .icon {
    font-size: 37px;
}

.all .second .o4 .icon {
    font-size: 33px;
}

.all .second .o5 .icon {
    font-size: 37px;
}

.all .second p {
    margin-bottom: 0px;
}

@media (max-width: 1100px) {
    .containere .all {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .all .first {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .all .second {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media (max-width: 600px) {

    .all .first,
    .all .second {
        width: 380px;
    }

    .all .first input,
    textarea {
        width: 300px;
    }

    .all .second .o1 .icon {
        width: 122px;
    }
}

@media (max-width: 400px) {

    .all .first,
    .all .second {
        width: 300px;
    }

    .all .first input,
    textarea {
        width: 200px;
    }

    .all .second .o1 .icon {
        width: 132px;
    }
}