body {
    height: 150vh;
}

.recommended {
    padding-top: 160px;
}

.recommended .containere .companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommended .containere h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    font-weight: 900;
    color: var(--colorr);
}

/* making images responsive */
.recommended .containere .companies img {
    max-width: 100%;
}

@media screen and (max-width: 700px) {
    .recommended .containere .companies {
        display: flex;
        flex-direction: column;
    }
}